/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env.backup
.env.production.local
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
.DS_Store
.idea
.vscode
*.swp
*.swo
*~
.project
.buildpath
.settings
nbproject/
.php-cs-fixer.cache
.php-version
composer.phar
.history
/.vscode
