@import "./variables.css";

.nav-usuarioAutenticado {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: #8ac0f5;
}

.logoYperfil {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.foto-logoDAW {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.foto-perfilNavUsuario {
    display: none;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.nav-perfil {
    display: none;
    flex-direction: column;
    align-items: center;
    min-width: fit-content;
    gap: 10px;
}

.nav-perfil a {
    padding: 5px;
    background-color: var(--color-alerta);
}

.nav-perfil ul li {
    margin-right: 0;
    padding: 5px
}

.nav-perfil ul li a:hover {
    color: var(--color-primario);
}

@media (min-width: 768px) {
    .foto-perfilNavUsuario {
        display: block;
    }
    .nav-usuarioAutenticado {
        justify-content: space-between;
    }

    .nav-perfil {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: fit-content;
    }

    ul.nav-links {
        display: flex;
        flex-direction: row;
    }
}