.navAdmin {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: var(--color-primario);
    gap: 10px;
    overflow: visible;
    padding: 10px;
    box-shadow: var(--sombra-media);
    border-radius: 8px;
}

.navAdmin.navAdminVisible {
    display: flex;
}

.navContenidoLibro, .irADashboard, .navContenidoUsuario, .navContenidoWeb, .navContenidoSesion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--color-blanco);
    position: relative;
    width: fit-content;
        position: relative; /* IMPORTANTE: Crea el punto de anclaje para su propio menú */
    display: flex;
    flex-direction: column;
    box-shadow: var(--sombra);
}

.btnDesplegableAdmin{
    text-align: left;
    border: none;
}

.btnDesplegableAdmin button {
    cursor: pointer;
    padding: 10px 20px;
    background-color: var(--color-secundario);
    color: var(--color-blanco);
    border-radius: 5px;
    width: 100%;
    text-align: left;
}

.menu-items {
    display: none;
    list-style: none;
    padding: 10px;
    position: absolute;
    z-index: 110;
    top: 100%;
    left: 0;
    width: max-content;
    min-width: 250px;
    background-color: var(--color-primario);
    box-shadow: var(--sombra-media);
}

.menu-items.is-active {
    display: block;
}
.btnNavAdminPrincipal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    position: relative;
    z-index: 100;
}


/*Estilos extra para que se vea bien*/

.menu-button {
    cursor: pointer;
    padding: 10px 20px;
    background-color: var(--color-secundario);
    color: var(--color-blanco);
    border-radius: 5px;
    display: inline-block;
}

.logout-button {
    cursor: pointer;
    padding: 10px 20px;
    background-color: var(--color-secundario);
    color: var(--color-blanco);
    border: 1px solid var(--color-secundario);
    border-radius: 5px;
}

.menu-items li {
    margin: 5px 0;
}

.menu-items li a {
    color: var(--color-blanco);
    text-decoration: none;
}

.sub-menu-items {
    list-style: none;
    margin-top: 8px;
    padding-left: 16px;
}

@media (min-width: 768px) {
    .navAdmin {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        padding: 10px;
        width: 100%;
        position: static;
        top: auto;
        left: auto;
        z-index: 20;
        box-shadow: none;
        border-radius: 0;
    }

    .menu-items {
        box-shadow: var(--sombra-media);
        position: absolute; 
        top: 100%;
        left: 0;
        width: auto;
    }

    #btnMenuPrincipal {
        display: none;
    }

}