

.contentHeader{
    text-align: center;
    margin-bottom: 20px;
}

.actividadesEventos{
    display: flex;
    flex-wrap: column;
    justify-content: center;
    gap: 20px;
}

.actividadEventoCard{
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: transform 0.2s;
}

.actividadEventoCard:hover{
    transform: translateY(-5px);
}


@media (min-width: 768px) {
    .actividadesEventos {
        flex-wrap: wrap;
        justify-content: space-around;
    }
}