/*Contenedor header del catalogo*/

.catalogoHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 32px;
    padding: 4px;
    background-color: var(--color-blanco);
}

.catalogoHeader h1 {
    font-size: 1.5rem;
    color: var(--color-primario-oscuro);
    text-decoration: underline;
}

.catalogoBody {
    display: grid;
    grid-template-columns: 1fr;
    background-color: var(--color-blanco);
    padding: 10px;
    gap: 10px;
}

.catalogoCard {
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    background-color: var(--bgCardCatalogo);
    box-shadow: var(--sombra-fuerte);
}
.catalogoCard:last-child {
    margin-bottom: 0;
}

.cardContenido {
    /*Esto es como el grid-template-columns pero para flexbox
    el max content hace que tome todo el espacio disponible*/

    /*Esto resumen 3 lineas de codigo en 1, por ejemplo:
    flex-grow: 2; flex-shrink: 0; flex-basis: max-content;*/
    flex: 2 1 max-content;
    justify-content: flex-start;
}

.libroTitulo {
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--color-primario-oscuro);
    margin-bottom: 4px;
    text-decoration: underline;
}

.accionesCatalogo {
    flex: .2 1 200px;
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 8px;
    margin-left: auto;
}



.cardImagen {
    flex: .1 0 max-content;
    overflow: hidden;
    justify-content: center;
    display: flex;
}

.cardImagen img {
    display: block;
    width: 160px;
    height: 240px;
    max-width: 100%;
    border-radius: var(--radio-medio);
    box-shadow: var(--sombra-media);
    object-fit: cover;
    object-position: center;
}
.infoGrid{
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: 0.8rem;
}
.infoItem{
    display: flex;
    flex-direction: row;
    gap: 2px;
}
.infoLabel{
    font-weight: 600;
    color: var(--color-primario-oscuro);
}
.infoValue{
    flex-direction: row;
    color: var(--color-primario-claro);
}


@media (min-width: 768px) {
    .catalogoBody {
        grid-template-columns: repeat(3, 1fr);
    }
}