/*Tengo que importar las variables*/
@import '../variables/variables.css';

/*********ESTILOS DE LA PAGINA PRINCIPAL DEL PANEL DE INVITADO**********/
.bienvenida {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    text-align: center;
    background-color: var(--color-blanco);
}

.bienvenida-texto {
    font-size: 1.05rem;
    color: var(--color-primario);
    margin-bottom: 20px;
    padding: 5px;
    text-align: justify;
    hyphens: auto;
}

.bienvenida-texto h1 {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin-bottom: 10px;
    text-decoration: underline;
    color: var(--color-texto-principa);
    text-shadow: var(--sombra-media);
}

.bienvenida-texto p {
    font-size: .95rem;
    color: var(--color-texto-principal);
}

.bienvenida-imagen img {
    width: 100%;
    max-width: 800px;
    height: auto;
    margin: 10px;
    box-shadow: var(--sombra-media);
}

/*Fin de bienvenida*/

/*Novedad del catálogo*/
.novedadCatalogo{
    background-color: var(--color-blanco);
}

.textoNovedadCat{
    font-size: 1.05rem;
    color: var(--color-texto-principa);
    margin: 0 0 5px 0;
}
.textoNovedadCat h2{
    text-decoration: underline;
}
.textoNovedadCat p{
    font-size: 1rem;
    color: var(--color-texto-mutado);
    line-height: 1.05;
}
.sliderContenedor{
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    overflow: visible; /* Para que los botones no queden cortados */
}
.swiper-wrapper{
    align-items: stretch;
}
.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper {
    width: 100%;
    height: auto;
    overflow: hidden; /* Importante para que Swiper oculte slides fuera de vista */
    padding: 10px 0; /* Espacio para que el scale del hover no se corte */
}

.novedadCatalogoCard{
    width: 250px;
    height: 350px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease;
}
.novedadCatalogoCard:hover {
    transform: scale(1.05);
    z-index: 100; 
}
.swiper-button-prev-custom { left: 0; }
.swiper-button-next-custom { right: 0; }

.novedadImagen{
    border: 1px solid var(--color-borde);
    border-radius: var(--radio-pequeno);
    box-shadow: var(--sombra-suave);
}
.novedadImagen img{
    width: 150px;
    height: 100%;
    object-fit: contain;
}
.novedadInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1; /*Esto hace que el div ocupe el resto del espacio disponible*/

}
.novedadInfo h3{
    font-size: 1.05rem;
    color: var(--color-primario);
    margin: 0 0 5px 0;
}
.novedadInfo .btn-verde{
    margin-top: auto; /*Esto empuja el botón hacia abajo*/
}



/*Fin de novedad del catálogo*/

/*Agenda de Eventos*/
.agenda {
    background-color: var(--color-blanco);
}

/* Contenedor principal de los cards */
.agendaContenedor {
    display: grid;
    /* Por defecto en móvil: 1 columna */
    grid-template-columns: 1fr;
    gap: 20px;
    margin-top: 20px;
}

.eventoCard {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 15px;
    background-color: var(--color-card-evento);
    border-radius: var(--radio-pequeno);
    padding: 15px;
    box-shadow: var(--sombra-suave);
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid var(--color-borde);
}

.eventoCard:hover {
    box-shadow: var(--sombra-media);
    transform: translateY(-1px);
    transition: all 0.3s ease;
}

.eventoCard:hover h3 {
    text-decoration: underline;
}

.eventoImg {
    border: 1px solid var(--color-borde);
    border-radius: var(--radio-pequeno);
    box-shadow: var(--sombra-suave);
}

.eventoImg img {
    width: 100%;
    overflow: hidden;
}

.eventoInfo h3 {
    font-size: 1.05rem;
    color: var(--color-primario);
    margin: 0 0 5px 0;
}

.eventoDescripcion {
    font-size: 0.9rem;
    color: var(--color-texto-mutado);
    margin-bottom: 5px;
    line-height: 1.1;
}

.eventoDetalles {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    justify-content: center;
    gap: 5px;
    margin-bottom: 5px;

}

.eventoDetalles p {
    line-height: 1.1;
    font-size: 0.7rem;
    font-weight: 600;
}

/* Estilos básicos para la paginación */
.agendaPaginacion {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

/*Noticias*/
.noticias {
    background-color: var(--color-blanco);
    margin-top: 40px;
}

.noticiasContenedor {
    display: grid;
    /* Por defecto en móvil: 1 columna */
    grid-template-columns: 1fr;
    gap: 20px;
}

.noticiasCard {
    background-color: var(--color-card-noticia);
    border-radius: var(--radio-pequeno);
    padding: 15px;
    box-shadow: var(--sombra-suave);
    border: 1px solid var(--color-borde);
}

.noticiasCard:hover {
    box-shadow: var(--sombra-media);
    transform: translateY(-1px);
    transition: all 0.3s ease;
}

.noticiasCard:hover h2 {
    text-decoration: underline;
}

.noticiasImg {
    width: 100%;
    max-height: 200px;
    overflow: hidden;
    border: 1px solid var(--color-borde);
    border-radius: var(--radio-pequeno);
    box-shadow: var(--sombra-suave);
    margin-bottom: 10px;
}

.noticiasImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Para que la imagen se ajuste sin deformarse */
}

.noticiasInfo h2 {
    font-size: 1.05rem;
    color: var(--color-primario);
    margin: 0 0 5px 0;
}

.noticiasInfo p {
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--color-texto-mutado);
    line-height: 1.05;
}


@media (min-width: 1200px) {
    .bienvenida {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .bienvenida-imagen img {
        width: 750px;
        max-width: 800px;
        height: auto;
    }
}

/* Media Query: A partir de Tablet/Desktop se ponen 2 columnas */
@media (min-width: 768px) {
    .bienvenida {
        height: auto;
    }
    .agendaContenedor {
        grid-template-columns: repeat(3, 1fr);
        /* Dos columnas iguales */
    }

    .noticiasContenedor {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* Dos columnas iguales */
    }
}