.registro{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bgRegistro);
}
.registroHeader h1{
    color: var(--color-primario);
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-decoration: underline;
}
.registroHeader p{
    font-size: 1rem;
    margin-bottom: 20px;
}


.registroContenido{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 15px;
    width: 100%;
    max-width: 400px;
    border: 1px solid var(--colorBorde);
    box-shadow: var(--sombra-media);
    background: var(--bgRegistroCard);
}

.formGroup{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:flex-end;
    width: 100%;
    padding: 5px;
}
.formGroup label{
    flex: 1 1 max-content;
    justify-content: flex-start;
    margin-right: 10px;
}
.formGroup label, .formGroup input{
    font-size: 1rem;

}