.registro{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bgRegistro);
}
.registroHeader h1{
    color: var(--color-primario);
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-decoration: underline;
}
.registroHeader p{
    font-size: 1rem;
    margin-bottom: 20px;
}


.registroContenido{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-top: 25px;
    width: 100%;
    max-width: 400px;
    box-shadow: var(--sombra);
}

.formGroup{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:flex-end;
    width: 100%;
    padding: 5px;
}
.formGroup label{
    flex: 1 1 max-content;
    justify-content: flex-start;
    margin-right: 10px;
}
.formGroup label, .formGroup input{
    font-size: 1rem;
    padding: 5px;

}
@media (min-width: 768px) {
    .registro{
        min-height: 80vh;

    }
    .registroContenido{
        width: 100%;
    max-width: 500px;
    }
}