body {
    line-height: 1.5;
    /* 1 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
    background-color: var(--color-fondo);
    max-width: 100%;
    overflow-x: hidden;
}

.contenedor {
    width: 95%;
    display: block;
    margin: 0 auto;
    padding: 10px;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}